h1{
    color: red;
}

section.chapter h1{
    color: black;
}

section.chapter p:first-of-type::first-letter{
    font-size: 200%;
}

*[class~="country"] {
	font-weight: bold;
	color: green;
}

a:link, a:visited {
	color: blue;
}

a:hover {
	color: red;
}

footer {
	border-top: 1px solid black;
}

#ellipsesParagraph {
	font-weight: bold;
}

